/* reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.4;
}

:root {
  --main-color: #20c997;
  --main-padding: 70px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  color: #333;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
}

/* container */
.container {
  padding: 0 1rem;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* end container */

/* fixed item */
.setting {
  all: unset;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  background-color: rgb(65, 67, 70);
  border-radius: 0.3125rem 0 0 0.3125rem;
  color: #fff;
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0.3125rem rgb(0 0 0 / 0.7);
}
/* fixed item */

/* start title */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
}
.title p {
  position: absolute;
  font-size: 2.5rem;
}
.title p::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: var(--main-color);
}

.title h2 {
  font-size: 7.5rem;
  color: #dee3e4;
}

/* end title */

/* start navbar */
.navbar {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar #menu {
  display: none;
}
.navbar label {
  color: white;
  margin-left: auto;
  display: none;
  cursor: pointer;
}

.navbar .container {
  display: flex;
  align-items: center;
}
.navbar .container .nav-menu {
  display: flex;
  color: white;
  gap: 15px;
  margin: auto;
}

.navbar .logo {
  position: absolute;
  left: 20px;
}

/* end navbar */

/* start landing */

.landing {
  background: url(../images/home.jpg) center / cover no-repeat;
}
.landing .layer {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
}

.landing .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}
.landing .container .text {
  margin: auto 0;
}

.landing .container .btn {
  display: inline-block;
  margin: 25px 0;
  border: 2px solid var(--main-color);
  color: #20c997;
  padding: 10px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.landing .container .btn:hover {
  background-color: var(--main-color);
  color: white;
}

.landing h1::after {
  content: " |";
  animation-name: letters;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes letters {
  0% {
    content: "S |";
  }

  3% {
    content: "Si |";
  }

  6% {
    content: "Sim |";
  }

  9% {
    content: "Simo |";
  }

  12% {
    content: "Simon |";
  }

  15% {
    content: "Simone |";
  }

  18% {
    content: "Simone O |";
  }

  21% {
    content: "Simone Ol |";
  }

  24% {
    content: "Simone Oli |";
  }

  27% {
    content: "Simone Oliv |";
  }

  30% {
    content: "Simone Olivi |";
  }

  33% {
    content: "Simone Olivia |";
  }

  36% {
    content: "Simone Olivi l";
  }

  39% {
    content: "Simone Oliv l";
  }

  42% {
    content: "Simone Oli l";
  }

  45% {
    content: "Simone Ol l";
  }

  48% {
    content: "Simone O l";
  }

  51% {
    content: "Simone  l";
  }

  54% {
    content: "Simon l";
  }

  57% {
    content: "Simo l";
  }

  60% {
    content: "Sim l";
  }

  63% {
    content: "Si l";
  }

  66% {
    content: "S l";
  }

  69% {
    content: " l";
  }
}

.landing .container .down {
  position: relative;
  animation: move 1s infinite linear;
  -webkit-animation: move 1s infinite linear;
}

@keyframes move {
  0% {
    bottom: 30px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/* end landing */

/* start about */

.about {
  padding: var(--main-padding) 0;
}
.about .about-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.about .about-area .about-text {
  width: calc(70% - 30px);
}
.about.about-area.about-info {
  width: 30%;
}

.about .about-area .about-text p {
  padding: 10px 0;
}
.about .about-text span {
  color: var(--main-color);
}
.about .about-info span {
  font-weight: 900;
}
.about .about-info li {
  padding: 10px 0;
  font-size: 1.2rem;
}
.about .about-info li:not(:last-child) {
  border-bottom: 1px dashed #aaa;
}

.about .about-info a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 35px;
  background-color: var(--main-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.about .about-info a:hover {
  background-color: rgb(3, 79, 54);
}

.about .counter {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.about .counter .item {
  padding: 50px;
  font-size: 1.25rem;
  color: #999;
  width: calc((100% - 30px) / 4);
}

.about .counter .item:not(:last-child) {
  border-right: 1px dashed #aaa;
}
/* end about */

/* start what i do */

.services {
  padding: var(--main-padding) 0;
  background-color: rgb(248, 249, 250);
}

.services .services-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.services .services-area .item {
  width: calc((100% - 30px) / 2);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.services .services-area .item p {
  padding-top: 15px;
  width: 80%;
}

.services .services-area .item span {
  background-color: #fff;
  padding: 15px 20px;
  color: var(--main-color);
  font-size: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
  flex-shrink: 0;
}
/* end what i do */

/* start resume */

.resume {
  padding: var(--main-padding) 0;
}
.resume .resume-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.resume .resume-area .item {
  width: calc((100% - 30px) / 2);
  border: 1px solid rgba(170, 170, 170, 0.493);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.resume .item span {
  background-color: var(--main-color);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  color: white;
  font-size: 0.875rem;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.resume .resume-area .uni {
  padding: 15px 0;
  color: tomato;
}

.resume .skils h2 {
  padding-block: 20px;
}
.resume .skils-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.resume .skils-area .item {
  width: calc((100% - 30px) / 2);
}
.resume .skils-area .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resume .skils-area .progress {
  height: 7px;
  background-color: rgba(170, 170, 170, 0.493);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  overflow: hidden;
}
.resume .skils-area .inner-progress {
  height: inherit;
  background-color: var(--main-color);
}

.resume a {
  display: block;
  width: fit-content;
  padding: 10px 30px;
  border: 2px solid #333;
  margin-top: 20px;
  margin-inline: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.resume a:hover {
  background-color: #333;
  color: white;
}
/* end resume */

/* start portfolio */
.portfolio {
  padding: var(--main-padding);
}
.portfolio .nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  font-size: 1.25rem;
}
.portfolio .nav .active {
  color: var(--main-color);
  position: relative;
}

.portfolio .nav .active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: var(--main-color);
  width: calc(100% + 20px);
  margin-left: -10px;
}
.portfolio .nav a {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.portfolio .nav a:hover {
  color: var(--main-color);
}

.portfolio .gallary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.portfolio .gallary .col {
  width: calc((100% - 30px) / 3);
}
.portfolio .col .item {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.portfolio .gallary .image {
  position: relative;
}
.portfolio .gallary .layer {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  transform: 0.5s;
  -webkit-transform: 0.5s;
  -moz-transform: 0.5s;
  -ms-transform: 0.5s;
  -o-transform: 0.5s;
}
.portfolio .image:hover .layer {
  opacity: 1;
  cursor: pointer;
}

.portfolio .image img {
  transition: 0.5s 0.5s;
  -webkit-transition: 0.5s 0.5s;
  -moz-transition: 0.5s 0.5s;
  -ms-transition: 0.5s 0.5s;
  -o-transition: 0.5s 0.5s;
}
.portfolio .image:hover img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
/* end portfolio */

/* start client */
.client-section {
  padding: var(--main-padding) 0;
}

.client-section .client-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.client-section .client {
  width: calc((100% - 30px) / 2);
  background-color: rgb(248, 249, 250);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.client-section .client-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.client-section img {
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  flex-shrink: 0;
}

.client-section .stars {
  display: flex;
  gap: 10px;
  color: gold;
  margin: 50px 0;
}

.client-section .bulets {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.client-section .bulets span {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.client-section .bulets span.active {
  background-color: var(--main-color);
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
}
/* end client */

/* start contact */
.contact {
  padding: var(--main-padding) 0;
  background-color: rgb(248, 249, 250);
}
.contact .contact-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.contact .address {
  width: 30%;
}
.contact h3 {
  padding: 1.25rem 0;
  font-size: 1.875rem;
  font-weight: 500;
}
.contact address {
  font-style: normal;
  padding-bottom: 1.25rem;
}
.contact li {
  padding-bottom: 1.25rem;
}
.contact li i {
  color: var(--main-color);
}

.contact .contact-data {
  width: calc(70% - 2.5rem);
}
.contact h3 {
  padding: 1.25rem 0;
  font-size: 1.875rem;
  font-weight: 500;
}

.contact form {
  display: flex;
  justify-content: space-between;
  row-gap: 1.875rem;
  flex-wrap: wrap;
}

.contact form input:nth-child(-n + 2) {
  width: calc((100% - 1.875rem) / 2);
}
.contact form textarea {
  resize: vertical;
  height: 10rem;
}
.contact form :is(input, textarea) {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #bce4d8;
}
.contact form button {
  border: unset;
  background-color: #20c997;
  color: #fff;
  padding: 0.9375rem 2.8125rem;
  border-radius: 3.125rem;
  box-shadow: 0 0 0.625rem rgb(0 0 0 / 0.7);
  font-size: 1.25rem;
  cursor: pointer;
  margin: 1.25rem auto;
  transition: background-color 0.5s;
}
.contact button:hover {
  background-color: #054935;
}
/* end contact */

/* start copyright */
.copy-right {
  padding: var(--main-padding) 0;
}
.copy-right h3 {
  font-weight: 400;
  font-size: 0.9375rem;
}
.copy-right .container a:first-of-type {
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
}
.copy-right .container {
  display: flex;
  flex-wrap: wrap;
}
.copy-right a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.copy-right a:hover {
  color: var(--main-color);
}
/* end copyright */

/* media */

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .about .about-area .about-text,
  .about .about-area .about-info,
  .services .services-area .item,
  .resume .resume-area .item,
  .resume .skils .skils-area .item,
  .client-section .client,
  .contact .address,
  .contact .contact-data {
    width: 100%;
  }
  .portfolio .gallary .col {
    width: calc((100% - 30px) / 2);
  }
  .title p {
   
    font-size: 2.5rem;
  }
  .title h2 {
    font-size: 6rem;
   
  }
  .portfolio {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .navbar .container .nav-menu {
    position: absolute;
    top: 100%;
    flex-direction: column;
    left: 0;
    width: 100%;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  
  .title p {
   
    font-size: 2.5rem;
  }
  .title h2 {
    font-size: 6rem;
   
  }
  
  .navbar .container .nav-menu a {
    display: block;
    padding-block: 10px;
    background-color: #999;
  }
  .navbar label {
    display: block;
  }
  .navbar #menu:checked ~ .nav-menu {
    height: 100vh;
  }
  html {
    font-size: 13px;
  }

  .about .counter .item {
    width: calc((100% - 30px) / 2);
  }
  
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .portfolio {
    padding: 10px;
  }
  .title h2 {
    font-size: 4rem;
  }
  .title p {
    font-size: 2rem;
  }
  .about .counter .item,
  .portfolio .gallary .col {
    width: 100%;
  }
  .copy-right .container {
    display: block;
  }
}
